In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle
import statsmodels.api as sm

ModuleNotFoundError: No module named 'env'

In [4]:
df = pd.read_csv('PLASTIC_USE_7_08032023185107469.csv')

In [5]:
df = df[df['Plastic types'] == 'Total']
df.drop(columns = ['PLASTIC_TYPES','Plastic types', 'TIME','Flag Codes', 'Flags'],
       inplace = True)
df

        Time    Value
0   1990-1-1  129.887
1   1991-1-1  134.870
2   1992-1-1  143.569
3   1993-1-1  149.685
4   1994-1-1  164.447
5   1995-1-1  170.917
6   1996-1-1  183.440
7   1997-1-1  197.228
8   1998-1-1  206.397
9   1999-1-1  222.145
10  2000-1-1  234.008
11  2001-1-1  239.907
12  2002-1-1  255.480
13  2003-1-1  266.323
14  2004-1-1  283.508
15  2005-1-1  291.788
16  2006-1-1  310.465
17  2007-1-1  328.116
18  2008-1-1  312.909
19  2009-1-1  321.169
20  2010-1-1  348.880
21  2011-1-1  363.270
22  2012-1-1  377.301
23  2013-1-1  393.737
24  2014-1-1  401.032
25  2015-1-1  412.751
26  2016-1-1  419.970
27  2017-1-1  432.184
28  2018-1-1  446.200
29  2019-1-1  459.746

In [7]:
df['Time'] = pd.to_datetime(df['Time'], infer_datetime_format = True )

In [8]:
df = df.set_index('Time')

In [9]:
df

              Value
Time
1990-01-01  129.887
1991-01-01  134.870
1992-01-01  143.569
1993-01-01  149.685
1994-01-01  164.447
1995-01-01  170.917
1996-01-01  183.440
1997-01-01  197.228
1998-01-01  206.397
1999-01-01  222.145
2000-01-01  234.008
2001-01-01  239.907
2002-01-01  255.480
2003-01-01  266.323
2004-01-01  283.508
2005-01-01  291.788
2006-01-01  310.465
2007-01-01  328.116
2008-01-01  312.909
2009-01-01  321.169
2010-01-01  348.880
2011-01-01  363.270
2012-01-01  377.301
2013-01-01  393.737
2014-01-01  401.032
2015-01-01  412.751
2016-01-01  419.970
2017-01-01  432.184
2018-01-01  446.200
2019-01-01  459.746